* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    padding: 0px;
    margin: 0px;
}

.icon-buscador {
    display: inline-block;
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
}

#input-buscador {
    outline: none;
    border: none;
    box-shadow:gainsboro;
}

ul {
    list-style-type: none;
}

header {
    text-align: right;
    height: 8vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70vh;
    align-content: center;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

footer {
    height: auto;
}

.pais {
    text-align: left;
}


button {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(228, 228, 228);
    border: none;
}

header ul li {
    display: inline;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 4px;
}

footer ul {
    display: inline-block;
    
}

footer ul li {
    display: inline-block;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 15px;
}

footer {

    background-color: rgb(201, 201, 201);
}

/*
main{
    height: ;
}
*/